/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Josefin Sans", sans-serif;
}

i {
  font-size: 30px;
}

p {
  word-wrap: break-word;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Sections*/
section {
  padding: 108px 0;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

/*Boxes*/
[class^="box-"] {
  position: relative;
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  text-align: center;
}

/* Splash*/
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* logo*/
.splash i {
  font-size: 30px;
  background: #2f3640;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 50%;
}

.page-title {
  color: #fff;
  font-size: 60px;
  margin: 48px 0 0 0;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.page-subtitle {
  color: #fff;
  font-size: 18px;
  margin: 48px 0 0 0;
}

/* Intro*/
.intro {
  background: #fff;
}

.intro p {
  width: 70%;
  margin: 30px auto;
  padding: 48px 0;
  font-size: 24px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/*About*/
.about {
  background: #f0f0f0;
}

/*Skills*/
[class^="skill-"] {
  position: relative;
}

/*Gallery*/
.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .pic img {
  max-width: 300px;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
}

.skill-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s;
}

.skill-right .skill-image {
  right: 0;
}

.skill-right .skill-description {
  padding: 36px 55% 36px 0;
  text-align: right;
}

.skill-left .skill-description {
  padding: 36px 0 36px 55%;
  text-align: left;
}

.skill-image img:hover {
  transform: scale(2);
}

/*Footer*/
.page-footer {
  text-align: center;
}

.copy {
  display: inline-block;
}

.foot-list {
  font-size: 30px;
  list-style-type: none;
  display: inline-block;
}

.foot-list li {
  display: inline;
}
/*# sourceMappingURL=style.css.map */